.:53 {
    forward . 10.1.71.1 10.168.71.1
    log
    errors
    cache
}

{% for d in domains %}
{{d.domain}} {% if 'sub' in d %}{% for s in d.sub %}{{s.domain}}.{{d.domain}} {% endfor %}{% endif %}{
    file /etc/coredns/zones/{{d.domain}}.db
    log
    cache
    errors
}

{% endfor %}