.:53 {
    forward . 172.20.0.2 172.20.0.3
    log
    errors
    cache
}

{% for d in domains %}
{{d}}:53 {
    file /etc/coredns/zones/{{d}}.db
    log
    cache
    errors
}
}

{% endfor %}