.:53 {
    forward . 10.1.71.1 10.168.71.1
    log
    errors
    cache
}

{% for d in domains %}
{{d}}:53 {
    file /etc/coredns/zones/{{d}}.db
    log
    cache
    errors
}
}

{% endfor %}